<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/catways/add">Ajouter un nouveau catway</a>

    <% if (catways && catways.length > 0) { %>
    <ul>
      <% catways.forEach(catway => { %>
      <li>
        Numéro : <%= catway.catwayNumber %>, Type : <%= catway.catwayType %>,
        État : <%= catway.catwayState %>
        <a href="/catways/<%= catway.catwayNumber %>">Détails</a>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>Aucun catway disponible.</p>
    <% } %>
  </body>
</html>
