<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier la Réservation</title>
    <style>
      .alert {
        color: red;
        margin: 10px 0;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px 0;
        color: #fff;
        background-color: #007bff;
        text-decoration: none;
        border-radius: 5px;
      }
      .btn:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <%- include('partials/menu') %>

    <h1>Modifier la Réservation <%= reservation.catwayNumber %></h1>

    <!-- Bouton pour retourner au dashboard -->
    <a href="/dashboard" class="btn">Retour au Dashboard</a><br /><br />

    <% if (typeof error !== 'undefined') { %>
    <div class="alert"><%= error %></div>
    <% } %>

    <form
      action="/reservations/<%= reservation._id %>?_method=PUT"
      method="POST"
    >
      <label for="clientName">Nom du Client :</label>
      <input
        type="text"
        id="clientName"
        name="clientName"
        value="<%= reservation.clientName %>"
        required
      /><br /><br />

      <label for="boatName">Nom du Bateau :</label>
      <input
        type="text"
        id="boatName"
        name="boatName"
        value="<%= reservation.boatName %>"
        required
      /><br /><br />

      <label for="startDate">Date de Début :</label>
      <input
        type="date"
        id="startDate"
        name="startDate"
        value="<%= reservation.startDate.toISOString().split('T')[0] %>"
        required
      /><br /><br />

      <label for="endDate">Date de Fin :</label>
      <input
        type="date"
        id="endDate"
        name="endDate"
        value="<%= reservation.endDate.toISOString().split('T')[0] %>"
        required
      /><br /><br />

      <button type="submit">Mettre à jour</button>
    </form>
  </body>
</html>
