<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion des Utilisateurs</title>
    <style>
      .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px 0;
        color: #fff;
        background-color: #007bff;
        text-decoration: none;
        border-radius: 5px;
      }
      .btn:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <%- include('partials/menu') %>

    <h1>Gestion des Utilisateurs</h1>

    <!-- Bouton pour retourner au dashboard -->
    <a href="/dashboard" class="btn">Retour au Dashboard</a><br /><br />

    <!-- Table des utilisateurs existants, s'il y en a -->
    <% if (users && users.length > 0) { %>
    <table border="1">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Rôle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.userName %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td>
            <a href="/users/<%= user._id %>/edit">Mettre à jour</a> |
            <form
              action="/users/<%= user._id %>?_method=DELETE"
              method="POST"
              style="display: inline"
            >
              <button type="submit">Supprimer</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p>Aucun utilisateur disponible pour le moment.</p>
    <% } %>
  </body>
</html>
